/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: NANOPLOT {
        ext.args   = { "--bam ${ontfile} --prefix ${meta.id}. --tsv_stats" }
        cpus       = { 2 * task.attempt }
        memory     = { 40.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/nanoplot/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: UCSC_GTFTOGENEPRED {
        ext.args = '-genePredExt -geneNameAsName2'
    }

    withName: PICARD_COLLECTRNASEQMETRICS {
        ext.args = '--STRAND_SPECIFICITY NONE'
    }

    withName: SAMTOOLS_VIEW {
        ext.prefix = { "${meta.id}.filtered" }
        ext.args   = "-e \"mapq >= ${params.mapq} && length(seq) >= ${params.read_len} \" --output-fmt bam"
        ext.args2  = ""
        cpus       = { 5 * task.attempt }
        memory     = { 30.GB * task.attempt }
        time       = { 4.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/samtools_filter" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
